<!DOCTYPE html>
<html>
  <head>
    <title>IkachanProgramming</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      body { margin: 0; }
    </style>
  </head>
  <body>
    <div id="app" data-uid="<%= current_user_uid %>"></div>
    <%= javascript_webpack_tag 'main.js' %>
  </body>
</html>
